# kow config
APP_NAME       = shop
APP_TIME_ZONE  = Asia/Shanghai
APP_PPROF_OPEN = true
APP_ETCD_OPEN  = false
APP_NODE_ID    = 1001

# debug
DEBUG_LEVEL      = info
DEBUG_SHOW_FILE  = 1
DEBUG_FORMAT     = json
# if On async open
DEBUG_ASYNC_OPEN = Off
LOG_DIR          =
LOG_MAX          = 1024

# listen
SERV_HOST = 0.0.0.0
SERV_PORT = 8081

# etcd
ETCD_ENDPOINTS = 127.0.0.1:2379
ETCD_TIMEOUT   = 30
ETCD_USERNAME  = 
ETCD_PASSWORD  =
ETCD_NAMESPACE = default
